
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" dir="ltr" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:addthis="http://www.addthis.com/help/api-spec" > <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" dir="ltr" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:addthis="http://www.addthis.com/help/api-spec" > <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" dir="ltr" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:addthis="http://www.addthis.com/help/api-spec" > <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" dir="ltr" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:addthis="http://www.addthis.com/help/api-spec" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:addthis="http://www.addthis.com/help/api-spec"> <!--<![endif]-->
<head>
<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<title>Food theme</title>
<meta name="description" content=" | "/>
<meta charset="UTF-8"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="profile" href="http://gmpg.org/xfn/11"/>
<link rel="icon" href="http://livedemo00.template-help.com/jigoshop_43982/wp-content/themes/theme2072/favicon.ico" type="image/x-icon"/>
<link rel="pingback" href="http://livedemo00.template-help.com/jigoshop_43982/xmlrpc.php"/>
<!--[if lt IE 8]>
  <![endif]-->

<style>h1{font:bold 28px/30px "Trebuchet MS",Arial,Helvetica,sans-serif;color:;}h2{font:bold 26px/30px "Trebuchet MS",Arial,Helvetica,sans-serif;color:;}h3{font:bold 24px/30px "Trebuchet MS",Arial,Helvetica,sans-serif;color:;}h4{font:normal 19px/22px "Trebuchet MS",Arial,Helvetica,sans-serif;color:;}h5{font:normal 13px/18px Arial,Helvetica,sans-serif;color:;}h6{font:normal 13px/18px Arial,Helvetica,sans-serif;color:;}#main{
	font: normal 13px/18px Arial,Helvetica,sans-serif;
	color: ;
	
}</style>
<link href="/theme5/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" id="camera-css"  href="/theme5/css/camera.css" type="text/css" media="all">

<link href="/theme5/theme.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/theme5/css/skins/tango/skin.css">
<link href="/theme5/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/theme5/font-awesome/css/font-awesome.css">
  <link href="/theme5/css/bootstrap.css" rel="stylesheet">
  <link href="/theme5/css/style.css" rel="stylesheet">
    <style type="text/css">
      
    </style>
     <link href="/theme5/css/bootstrap-responsive.css" rel="stylesheet">

<!--[if gte IE 9]>
  <style type="text/css">
    .product #tabs .panel,
    .product.type-product .images + .summary .attributes .product-avlb,
    .single-product .summary fieldset.variations,
    .testimonials div.testi_item,
    .onsale  {
       filter: none;
    }
  </style>
<![endif]-->

<!--[if (gt IE 9)|!(IE)]><!-->
<script type="text/javascript">
		jQuery(function(){
			jQuery('.sf-menu').mobileMenu();
		})
	</script>
<!--<![endif]-->


<style>


a{
text-decoration: none;

line-height: 30px;
display: block;
font-family: 'Arial', Verdana, arial;
}

#container{
height: 200px;
width: 100%;

}

#container:hover .first-hover, #container:hover .button-hover{
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
-o-transition-delay:0.5s;
-ms-transition-delay:0.5s;
}

#button{
margin-left: 2%;
width: 150px;
height: 30px;
text-align: center;
background-image: -webkit-linear-gradient(#5a5a5a, #393939);
background-image: -moz-linear-gradient(#5a5a5a, #393939);
background-image: -o-linear-gradient(#5a5a5a, #393939);
background-image: -ms-linear-gradient(#5a5a5a, #393939);
background-image: linear-gradient(#5a5a5a, #393939);
border-radius: 3px 0px 0px 3px;
border-right: 1px solid #d6d6d6;
position: relative;
}

#button:hover .button-hover{
left: 304px;
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
-o-transition-delay:0s;
-ms-transition-delay:0s;
}

#button span{
display: block;
color: white;
text-decoration: none;
line-height: 29px;
font-family: 'Arial', Verdana, arial;
}

.button-hover{
content:"";
position: relative;
left: 151px;
top: -29px;
width: 30px;
height: 30px;
border-radius:0 3px 3px 0;
border-left: 1px solid #242424;
background-image: -webkit-linear-gradient(#5a5a5a, #393939);
background-image: -moz-linear-gradient(#5a5a5a, #393939);
background-image: -o-linear-gradient(#5a5a5a, #393939);
background-image: -ms-linear-gradient(#5a5a5a, #393939);
background-image: linear-gradient(#5a5a5a, #393939);
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; 
}

#button span:after , .button-hover span:after, .first-hover:before{
    background: rgba(255,255,255,.07);
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
}

.button-hover:after{
content:"";
width: 10px;
height: 22px;
border-width: 4px;
border-style: solid;
border-color: white transparent;
left: 6px;
top: 0;
position: absolute;
}

.menu{
visibility: hidden;
position: absolute;
top: 30px;
left: 151px;
height: 0;
width: 100%;
margin: 0;
padding: 0;
text-align: center;
background-color: #393939;
border-left: 1px solid #242424;
border-right: 1px solid #242424;
  -webkit-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition:    all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -ms-transition:     all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition:      all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:         all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.first-hover{
position: absolute;
visibility:hidden;
top:0;
left: 151px;
width: 0;
height: 30px;
margin: 0;
padding: 0;
background-color: #393939;
border-left: 1px solid #242424;
border-right: 1px solid #242424;
background-image: -webkit-linear-gradient(#5a5a5a, #393939);
background-image: -moz-linear-gradient(#5a5a5a, #393939);
background-image: -o-linear-gradient(#5a5a5a, #393939);
background-image: -ms-linear-gradient(#5a5a5a, #393939);
background-image: linear-gradient(#5a5a5a, #393939);
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.first-hover a{
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#button:hover .first-hover{
width: 150px;
visibility:visible;
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
-o-transition-delay:0s;
-ms-transition-delay:0s;
}

#button:hover .menu{
visibility: visible;
height: auto;
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
-o-transition-delay:0.1s;
-ms-transition-delay:0.1s;
}

 #button:hover .menu li{
border-bottom: 1px solid #676767;
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
-o-transition-delay:0.3s;
-ms-transition-delay:0.3s;
}
 
.menu li{
list-style: none;
height: 30px;
border-bottom:none;
text-align: center;
  -webkit-transition: border-bottom 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition:    border-bottom 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -ms-transition:     border-bottom 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition:      border-bottom 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:         border-bottom 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.menu li:hover{
 background-color: rgba(255,255,255,.07);
}

#button:hover .menu li:first-child{
width: 150px;
}
</style>


</head>
<body class="home page page-id-203 page-parent page-template page-template-page-home-php">


<%= render :partial => 'home5' %>
    
<div class="row-fluid ">
	
	

	<div class="span8" style=" margin-left:40px">
				<%@product.each do |i|%>
					<%@category.each do |c|%>

	<% if i["product_category_id"] == c["product_category_id"]%>
		<% @cat = c["product_category_name"]%>
	<%end%>
<%end%>

<%@sub_category.each do |s|%>

	<% if i["sub_category_id"] == s["sub_category_id"]%>
		<% @sub = s["sub_category_name"]%>
	<%end%>
<%end%>
						<div class="span4 product-inner " style=" margin-right:1%; margin-top:1%">
							<a href=<%= "/#{Masterusers.title(i[:title])}/#{@cat}/#{@sub}/c_shop_5/#{i['product_id']}"%>>

<%= image_tag("#{i['image_1']}thumb/#{i[:image_name_1]} ", :width => 158, :height => 100)  %>						
	
</a>
							<h3 class="name"><%= i['title']%> </h3>
							<div class="price">
							<span >Rs.<%= i['price']%></span> 
							
							</div>
						</div>
					<%end%>
	</div>

	<div class="span3">
								<h2 style= "font-weight: normal;
margin: 0;
padding: 0 0 19px 0;
color: #df1c02; "> Categories</h2>
		<div id="container">
			<%@category=Masterusers.find_by_sql("select * from product_category_"+session[:master_user_id].to_s)%>				
			<%@category.each do |i|%>
	
			<div id="button"><span><%=i["product_category_name"]%></span>
				<a class="first-hover" href="#"><span>Choose Sub Category<span></a>


				<ul class="menu">
					<li> <%=link_to "view all", :controller =>  "c_shop5", :action => "view_all", :id => @profile,:name => "search", :method => :post, :category_id => i['product_category_id'] %></li>
			<%@subcategory=Masterusers.find_by_sql("select * from product_sub_category_#{session[:master_user_id]} where product_category_id=#{i['product_category_id']}")%>				
						<%@subcategory.each do |j|%>
				
					<li><%=link_to j["sub_category_name"], :controller =>  "c_shop5", :action => "view_all", :id => @profile,:name => "sub", :method => :post, :sub_category_id => j["sub_category_id"]%></li>




					<%end%>
				</ul>
		
			</div>
				<%end%>
			<div id="button"><a href="/c_shop5/view_all"><span>View All Products<span></a>
			</div>
		</div>
<div class="row-fluid">
	
						<h2 style= "font-weight: normal;
margin: 0;
padding: 0 0 19px 0;
color: #df1c02; ">Recently Viewed</h2>
		<div class="span3">
	<%count = 0%>
						
						<ul>
		<%if !cookies[:recently_view].nil? then
						@a=cookies[:recently_view]
						@p=[]
						@p=@a.split(' ')
						@p=@p.to_set
					end%>
					<%@product=Masterusers.find_by_sql("select * from product_"+session["master_user_id"].to_s )%>

				<%if !@p.nil? && cookies[:recently_view]!= "" then %>


            	
			<%@p.each do |a|%>
	
						<%@product.each do |i|%>
							<% break if count > 1 %>
							<%if i['product_id']==a.to_i  then %>
			
				<%@d=Masterusers.find_by_sql("select * from product_"+session["master_user_id"].to_s+" where product_id="+i['product_id'].to_s)%>
	<% count = count+1 %>																											<%@d.each do |a|%>






							<li class="thumbnail" style="width:110px;height:150px"><a href="product.html" ><%=link_to image_tag("#{a['image_1']}#{a[:image_name_1]}", :width => 120, :height => 90)  ,:name =>'detail', :controller =>  "c_shop5", :action => "product_detail", :productid => a['product_id'], :product => a['product_id'],:product_name => a["product_name"] %><span><%= a['title']%></span></a>
							</li>
<%end%>
			<%end%>
	
			<%end%>

<%end%>
							
						</ul>
						</div>
	</div>
<%end%> 
	</div>	
				
</div>

	
<!--footer-->
 
        <div class="footer_bottom">
            <div class="wrap">
            	<div class="container">
                	<div class="row">
                		
                        <div class="span4 pull-right">
                        	<div class="span3 "  >
					 <p  style= "font-weight: normal;
					
					color: #FFFFFF;">Address: <%= session[:address]%></p>
				</div>   
				<div class="span3 " >
					 <p  style= "font-weight: normal;
					
					color: #FFFFFF;"> City: <%= session[:city]%></p>
				</div>   
				<div class="span3 " >
					 <p  style= "font-weight: normal;
					
					color: #FFFFFF;">Landmark: <%= session[:landmark]%></p>
				</div>   
				<div class="span3 " >
					 <p  style= "font-weight: normal;
					
					color: #FFFFFF;">Country: <%= session[:country]%></p>
				</div>   
				<div class="span3 " >
					 <p  style= "font-weight: normal;
					
					color: #FFFFFF;"> Phone: <%= session[:phone]%></p>
				</div>   
				<div class="span3 " >
					 <p  style= "font-weight: normal;
					
					color: #FFFFFF;"> Email: <%= session[:master_email]%></p>
				</div>   
				

			</div>
                                <div class="follow_us">
                                	<ul>
                                        <li><a rel="tooltip" href="#" title="Facebook" class="facebook">Facebook</a></li>
                                        <li><a rel="tooltip" href="#" title="Twitter" class="twitter">Twitter</a></li>
                                        <li><a rel="tooltip" href="#" title="Tumbrl" class="tumbrl">Tumbrl</a></li>
                                        <li><a rel="tooltip" href="#" title="Vimeo" class="vimeo">Vimeo</a></li>
                                        <li><a rel="tooltip" href="#" title="Delicious" class="delicious">Delicious</a></li>
                                    </ul>
                             </div>

                                <div class="clear"></div>
                            
                            	<div class="clear"></div>
                            	
                            </div>                            
                     
                    </div>	
                </div>
            </div>
       
    </div>
    <!--//footer-->    
					

<script src="/theme5/js/bootstrap.min.js"></script>
<script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>

    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>


</body>
</html>
