<script>
$(document).ready(function(){
setInterval(function(){

$.ajax({
           type: "POST",
           url: "/admin_home/test",
           data: { user_id: 1,
                    moredata: 'moredata',
                  },
	dataType: "script",
            success: function (data) {
          
            },
            error: function(data) {
            
            }
         });


},);
});
</script>

<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner" style ="margin-top: 0;" >

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="/admin_home/adminhome" style="margin-left:1%;">

				StartAshoppe

				</a>

				

				<i class="icon-home icon-2x" style="color: white;">

					 <%@a1=Masterusers.find_by_sql("select url_name from masterusers where master_user_id ='"+session[:master_user_id].to_s+"'")%>		

					<a href=<%="http://"+@a1[0]['url_name']+".startashoppe.com"%> class="btn btn-lg return">Go to your Shop</a>

    

				</i>

		

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="/first/img/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul  class="nav pull-right">

				

					<!-- BEGIN NOTIFICATION DROPDOWN -->   

					<li class="dropdown" id="header_order_bar">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

						<i class="icon-tasks"></i>
									<%if $order[0] != nil then %>
						<%if $order.count > 0 then %>

						<span class="badge"><%=$order.count%></span>

						<%end%>
						<%end%>

						</a>

						<ul class="dropdown-menu extended tasks">

							<li>
									<%if $order[0] != nil then %>

								<p>You have <%=$order.count%> New Orders</p>
									<%end%>
							</li>

							<%if $order[0] != nil%>

								

							<li>

								<ul class="dropdown-menu-list scroller" style="height:250px">

									<%$order.each do |a|%>

									<li>

										<a href="/admin_home/order?id=<%=a[:order_id]%>&way=notification">

										<span class="label label-important"><i class="icon-plus"></i></span>

										

										<%=a[:name]%>

										<span class="time">Placed Order </span>

										</a>

									</li>

									<%end%>

								</ul>

							</li>

							

									<%end%>

							<li class="external">

								<a href="/admin_home/order">See all Orders <i class="m-icon-swapright"></i></a>

							</li>

						</ul>

					</li>

					

					<!-- END NOTIFICATION DROPDOWN -->

					<!-- BEGIN INBOX DROPDOWN -->

					

					<li class="dropdown"  id="header_message_bar">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

						<i class="icon-envelope"></i>

						<%if $message[0] != nil %>
						<p id="header_message_count"><span  class="badge"><%=$message.count%></span></p>
					<%end%>	
						</a>

						<ul class="dropdown-menu extended inbox">

							<li>
								 <%if $message[0] != nil %>

								<p id ="inner_message_count">You have <%=$message.count%> new messages</p>
<%end%>
							</li>

							<%if $message[0] != nil%>

							<li>

								<ul class="dropdown-menu-list scroller" style="height:250px" id ="test123">

									<%$message.each do |a|%>

									<li>

									

										<a href="/admin_home/message?id=<%=a[:message_id]%>&way=notification">

										

										<span class="subject">

										<span class="from"><%=a[:name]%></span>

										

										</span>

										<span class="message">

										<%=a[:message]%>

										</span>  

										</a>

									</li>

									<%end%>

									

									

								</ul>

							</li>

							<%else%>

							<li>

								<ul class="dropdown-menu-list scroller" style="height:250px" id ="test123">

									

									

									

								</ul>

							</li>

							<%end%>

							<li >

								<a href="/admin/message">See all messages <i class="m-icon-swapright"></i></a>

							</li>

						</ul>

					</li>

					

					<!-- END INBOX DROPDOWN -->

					              

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

						

						<span class="username">Admin</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">

							

							<li><i class="icon-key"></i> <%=link_to "Log out", :controller => "admin_home", :action => "admin_logout", :id => @profile, :value => "logout" %></li>

						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>
