<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Template</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- Styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/bootstrap-overrides.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <link href="/css/css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/css/animate.css" media="screen, projection">
    <link rel="stylesheet" href="/css/sign-up.css" type="text/css" media="screen">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<style type="text/css">

.suckerdiv ul{
margin: 0;
padding: 0;
list-style-type: none;
width: 220px; /* Width of Menu Items */
border-bottom: 1px solid #ccc;
}

.suckerdiv ul li{
position: relative;
}
.subcat
{	margin-left:25%;
	}
/*Sub level menu items */
.suckerdiv ul li ul{
position: absolute;
width: 170px; /*sub menu width*/
top: 0;
visibility: hidden;
}
 #half
 {
  width : 50%;
  float:left;
 }
  
/* Sub level menu links style */
.suckerdiv ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: black;
text-decoration: none;
background: #fff;
padding: 1px 5px;
border: 1px solid #ccc;
border-bottom: 0;
}

.suckerdiv ul li a:visited{
color: black;
}

.suckerdiv ul li a:hover{
background-color:#F79F81;
}

.suckerdiv .subfolderstyle{
background: url(media/arrow-list.gif) no-repeat center right;
}

	
/* Holly Hack for IE \*/
* html .suckerdiv ul li { float: left; height: 1%; }
* html .suckerdiv ul li a { height: 1%; }
/* End */

</style>

<script type="text/javascript">

//SuckerTree Vertical Menu 1.1 (Nov 8th, 06)
//By Dynamic Drive: http://www.dynamicdrive.com/style/

var menuids=["suckertree1"] //Enter id(s) of SuckerTree UL menus, separated by commas

function buildsubmenus(){
for (var i=0; i<menuids.length; i++){
  var ultags=document.getElementById(menuids[i]).getElementsByTagName("ul")
    for (var t=0; t<ultags.length; t++){
    ultags[t].parentNode.getElementsByTagName("a")[0].className="subfolderstyle"
		if (ultags[t].parentNode.parentNode.id==menuids[i]) //if this is a first level submenu
			ultags[t].style.left=ultags[t].parentNode.offsetWidth+"px" //dynamically position first level submenus to be width of main menu item
		else //else if this is a sub level submenu (ul)
		  ultags[t].style.left=ultags[t-1].getElementsByTagName("a")[0].offsetWidth+"px" //position menu to the right of menu item that activated it
    ultags[t].parentNode.onmouseover=function(){
    this.getElementsByTagName("ul")[0].style.display="block"
    }
    ultags[t].parentNode.onmouseout=function(){
    this.getElementsByTagName("ul")[0].style.display="none"
    }
    }
		for (var t=ultags.length-1; t>-1; t--){ //loop through all sub menus again, and use "display:none" to hide menus (to prevent possible page scrollbars
		ultags[t].style.visibility="visible"
		ultags[t].style.display="none"
		}
  }
}

if (window.addEventListener)
window.addEventListener("load", buildsubmenus, false)
else if (window.attachEvent)
window.attachEvent("onload", buildsubmenus)

</script>
</head>
<body style="padding-top: 50px;">
    

	
    <!-- Sign In Option 1 -->
    <div id="sign_up1">
        <div class="container" id="half" style="margin-top:5%" >		
			<%= form_tag("/admin_home/add_subcategory/", :method=>"post") do %>
				<tab ><h1>select categories </h1>
				<hr>
				<label class="control-label">
					Subcategory Name
			
				</label>
			<%= text_field_tag(:c_name,"") %><br/>
				<label class="control-label">
				Select  Product Category 
				<span class="required">*</span>
				</label>
			<%@test=Masterusers.find_by_sql("select * from product_category_"+ session[:master_user_id].to_s)%>
			<%= select_tag "category_id", options_for_select(@test.collect{ |u| [u.product_category_name, u.product_category_id] }), :prompt => "Select a category"%>
			<br><%= submit_tag("submit",  :value => "Submit",:class=>"btn btn-primary") %>		
			
			<% end %>
			
			
		</div>
			
		<div style="float:left; width:20%; padding-left:2%;margin-top:5%" >
			<div class="wellside"style="background-color:#FBFBEF;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">
				<h4 class="side_heading">Available Categories </h4>
				<hr style="margin:0px;">
				<div style="padding-top:10px;">
				
					<%@test=Masterusers.find_by_sql("select * from product_category_"+session[:master_user_id].to_s)%>
					<%@test.each do |i|%>
						<%=i['product_category_name']%><br>
						
									<%@subtest=Masterusers.find_by_sql("select * from product_sub_category_"+session[:master_user_id].to_s+" where product_category_id="+i.product_category_id.to_s)%>
									
									<div class="subcat">
									<%@subtest.each do |a|%>
									<%=a["sub_category_name"]%><br>
									
									<%end%>
									</div>	
								<hr>
					<%end%>		
				</div>
			</div>
		</div>
			
		
    </div>
   
	
   

  

    <script src="/js/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>

</body></html>