<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>Demo Store</title>
    <meta name="description" content="Just another Shops site" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">    <link href="http://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">            
    <link rel="shortcut icon" href="http://demo.startashoppe.info/files/2012/12/Untitled-1.png" /> 
    <link href="/viewall/css/style.css" type="text/css" rel="stylesheet" />
    <link href="/inventory/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/inventory/css/tablecloth.css" rel="stylesheet" type="text/css"/>
    <link href="/inventory/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript"> 
function disableselect(e){  
return false  
}  

function reEnable(){  
return true  
}  

//if IE4+  
document.onselectstart=new Function ("return false")  
document.oncontextmenu=new Function ("return false")  
//if NS6  
if (window.sidebar){  
document.onmousedown=disableselect  
document.onclick=reEnable  
}
</script>


    <script src="/inventory/jquery-ui.js"></script>
    <link rel='stylesheet' id='aqpb-view-css-css'  href='/viewall/css/aqpb-view.css?ver=1378883354' type='text/css' media='all' />
<link rel='stylesheet' id='aqpb-view-custom-css-css'  href='/viewall/css/aqpb-view-custom.css?ver=1378883354' type='text/css' media='all' />
<link rel='stylesheet' id='prettyphoto-style-css'  href='/viewall/css/prettyPhoto.css' type='text/css' media='all' />
<link rel='stylesheet' id='mp-flexmarket-css-css'  href='/viewall/css/mp.css' type='text/css' media='all' />
<script type='text/javascript' src='/viewall/js/jquery.js'></script>
<script type='text/javascript' src='/viewall/js/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var MP_Ajax = {"ajaxUrl":"http:\/\/demo.startashoppe.info\/wp-admin\/admin-ajax.php","emptyCartMsg":"Are you sure you want to remove all items from your cart?","successMsg":"Item(s) Added!","imgUrl":"http:\/\/demo.startashoppe.info\/wp-content\/plugins\/marketpress\/marketpress-includes\/images\/loading.gif","addingMsg":"Adding to your cart...","outMsg":"In Your Cart","show_filters":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='/viewall/js/ajax-cart.js?ver=2.8.8'></script>
<script type='text/javascript' src='/viewall/js/bootstrap.js?ver=3.6'></script>
<script type='text/javascript' src='/viewall/js/filterable.js?ver=3.6'></script>
<script type='text/javascript' src='/viewall/js/jquery.prettyPhoto.js?ver=3.6'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.startashoppe.info/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.startashoppe.info/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="Shops" />



            <link rel="canonical" href="http://demo.startashoppe.info/" />
    <meta name="description" content="Just another Shops site" />
<link rel="shortcut icon" href="//startashoppe.info/wp-content/uploads/ultimate-branding/includes/favicon/favicon.png" />
    <link href="/viewall/css/color-black.css" type="text/css" rel="stylesheet" />
    <link href="/first/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" />
    
<style type="text/css" media="all">
h1,h2,h3,h4,h5,h6 {font-family: 'ABeeZee', Arial, sans-serif;}body {font-family: 'ABeeZee', Arial, sans-serif;}#sidebar ul li:before {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings-white.png");}#sidebar ul#mp_product_list li i.icon-tags {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings-white.png");}#sidebar .well:hover ul li:before {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings.png");}#sidebar .well:hover ul#mp_product_list li i.icon-tags {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings.png");}#footer-widget ul li:before {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings-white.png");} 
</style>

    <!--[if gte IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <style type="text/css">.gradient {filter: none;}</style>
    <![endif]-->

    
</head>

<body class="home blog">

    
        <script type="text/javascript">

            jQuery(document).ready(function () {
                jQuery(".productcarousel").carousel({
                    interval: 4000                    ,pause: "hover"                })
            });

        </script>
<div class="container" style="border: 3px solid #ccc;margin-top: 5%;">
<h1 style="color: #563d7c;margin-left:2%">Cart products</h1>
    <div id="mpt-product-grid">
        <div>
        <%@product=Masterusers.find_by_sql(["select * from product_"+session[:master_user_id].to_s+" where product_id IN (?)",@a])%>
            
            <%if !@p.nil? && cookies[:cart_value]!= ""then %>
            <table class="table table-stats table-condensed table-striped table-sortable">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Sale Price"</th>
                    <th>Revised Price</th>
        
                    <th>Quanatity</th>
                    <th>Total</th>
                </tr></thead>
        
                <%@p.each do |a|%>
                    <%@product.each do |i|%>
                        <%b=a.split("-")%>
                        <%if i['product_id']==b[0].to_i  then %>
                            <%if i['revised_price'].nil? then %>
                                <%@p_total= i['sale_price'].to_i * b[1].to_i%>
                                <%@total=@total.to_i + @p_total %>
                            <%else%>
                                <%@p_total= i['sale_price'].to_i * b[1].to_i%>
                                <%@total=@total.to_i + @p_total%>
                            <%end%>
                
            
                            <tr style="border-bottom:1px solid">
                                <td ><%=i['product_name']%></td>
                                <td><%=i['sale_price']%></td>
                                <td><%=i['revised_price']%></td>
                    
                                <td><%=b[1]%></td>
                                <td><%=@p_total%></td>
                            </tr>
                
                    <%= form_tag("/c_shop/product_detail/", :method=>"put") do %>
                        <div class="span3 well well-small accessories" style="background: #fff; color: #676767;">
                            <div class="image-box" style="max-width: 360px";>
                            
                                <%= link_to image_tag(i["image_1"], :width => 360, :height => 270), :controller =>  "c_shop",:action => 'view_all_products', :id => @profile,:name => "Residential", :method => :post%>
                            
                                <input type="hidden" name="product" value=<%=i['product_id']%>>
                                <input type="hidden" name="product_name" value=<%=i["product_name"]%>>
                                        <div class="hover-block hidden-phone">
                                            <div class="btn-group">
                                                <%= submit_tag("submit",  :value => i["product_name"], :class => "btn btn-primary btn btn-info", :productid => i["product_id"] ) %>
                                
                                                    <a href="http://demo.startashoppe.info/wp-content/blogs.dir/35/files/2012/12/226833_4391.jpg" rel="prettyPhoto[mp-product-27" class="btn btn-primary">
                                    
                                                        <i class="icon-zoom-in icon-white"></i>
                                                    </a>
                                            </div>
                                        </div>
                            </div>
                            
                    
                
                        <div class="hidden-phone">
                            <div class="product-meta row-fluid">
                                <div class="span3">
                                    <p>
                                        <small><i class="icon-tags"></i> 
                                            <span itemprop="price" class="mp_normal_price">
                                                <span class="mp_current_price"><%=i['sale_price']%>
                                                </span>
                                            </span>
                                        </small>
                                    </p>
                                </div>
                                <div class="span7 atc">
                                    
                                <i class="icon-trash"></i><%= link_to "Delete from Cart", :controller =>  "c_shop",:action => 'add_to_cart', :id => @profile,:name => "delete", :method => :post,:class=>"btn btn-primary",:p_id=>i['product_id'] %>

                            
                    
                
                <%end%>

                <%end%>
            <%end%>
        
        <%end%>
        
<tr style="border-bottom:1px solid">
                    <td></td>
                    <td></td>
                    <td></td>
        
                    <td>Total Amount</td>
                    <td><%=@total%></td>
                </tr>
</table>
        
<!-- end of condition if -->
<%else%>
<h3 style="color: #563d7c;"> Empty Cart</h3>
<%end%>
                
    </div>
    
    <div class="span3">
    <%= form_tag("/c_shop/view_all_products/", :method=>"put") do %>

                        <%= submit_tag("shopmore", :value => "Shop more", :class => "btn") %>
                        <%end%>
    </div>
    <div class="span3" style="float:right;">
    <%= form_tag("/c_shop/add_to_cart/", :method=>"post") do %>
	<input type="hidden" name="total" value=<%=@total%>>
        <%= submit_tag("payment", :value => "payment", :class => "btn") %>
    <%end%>
    </div>
    
    </div><!-- / container -->
        </div><!-- / outercontainer -->    
    </div><!-- / homepage-content-wrapper -->

    <!-- End Homapage Content -->

    <!-- Footer Widget -->

    


    
        <!-- Load JS -->
    <script type="text/javascript">
    
    jQuery(document).ready(function () {
    
        // prettyPhoto
        jQuery("a[rel^='prettyPhoto']").prettyPhoto({
            social_tools: false
        });

        // tooltip
        jQuery('.tool-tip').tooltip();
    });

    </script>
</div>    
        
</body>
</html>            
