


<!DOCTYPE html>
<html lang="en-US">
<head>
<script src="/js/jquery.unveil.js"></script>
<script type="text/javascript" charset="utf-8">
               $(document).ready(function() {
                        console.log('testing lazyload');
                        $(".mainContent  img").unveil();
               });
       </script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>Revision Needed 332X1 | Demo Store</title>
	<meta name="description" content="Just another Shops site" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">	<link href="http://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">			
	
	<link href="/viewall/css/style.css" type="text/css" rel="stylesheet" />
	<link href="/viewall/css/custom.css" type="text/css" rel="stylesheet" />
    
    <link href="/viewall/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="/first/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />


<link rel='stylesheet' id='prettyphoto-style-css'  href='/viewall/css/prettyPhoto.css' type='text/css' media='all' />
<link rel='stylesheet' id='mp-flexmarket-css-css'  href='/viewall/css/mp.css' type='text/css' media='all' />
<script type='text/javascript' src='/viewall/js/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='/viewall/js/jquery.js'></script>
<script type='text/javascript' src='/viewall/js/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var MP_Ajax = {"ajaxUrl":"http:\/\/demo.startashoppe.info\/wp-admin\/admin-ajax.php","emptyCartMsg":"Are you sure you want to remove all items from your cart?","successMsg":"Item(s) Added!","imgUrl":"http:\/\/demo.startashoppe.info\/wp-content\/plugins\/marketpress\/marketpress-includes\/images\/loading.gif","addingMsg":"Adding to your cart...","outMsg":"In Your Cart","show_filters":"1"};
/* ]]> */
</script>

<script type='text/javascript' src='/viewall/js/jquery.prettyPhoto.js?ver=3.6'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.startashoppe.info/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.startashoppe.info/wp-includes/wlwmanifest.xml" /> 
<link rel='next' title='Sample Product ABC' href='http://demo.startashoppe.info/store/products/sample-product-abc/' />
<meta name="generator" content="Shops" />



				<style type="text/css">#wpadminbar li#wp-admin-bar-pro-site {float:right;}#wpadminbar li#wp-admin-bar-pro-site a{padding-top:3px !important;height:25px !important;border-right:1px solid #333 !important;}#wpadminbar li#wp-admin-bar-pro-site a span{display:block;color:#fff;font-weight:bold;font-size:11px;margin:0px 1px 0px 1px;padding:0 30px !important;border:1px solid #409ed0 !important;height:18px !important;line-height:18px !important;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background-image:-moz-linear-gradient( bottom, #3b85ad, #419ece ) !important;background-image:-ms-linear-gradient( bottom, #3b85ad, #419ece ) !important;background-image:-webkit-gradient( linear, left bottom, left top, from( #3b85ad ), to( #419ece ) ) !important;background-image:-webkit-linear-gradient( bottom, #419ece, #3b85ad ) !important;background-image:linear-gradient( bottom, #3b85ad, #419ece ) !important;}#wpadminbar li#wp-admin-bar-pro-site a:hover span{background-image:-moz-linear-gradient( bottom, #0B93C5, #3b85ad ) !important;background-image:-ms-linear-gradient( bottom, #0B93C5, #3b85ad ) !important;background-image:-webkit-gradient( linear, left bottom, left top, from( #0B93C5 ), to( #3b85ad ) ) !important;background-image:-webkit-linear-gradient( bottom, #3b85ad, #0B93C5 ) !important;background-image:linear-gradient( bottom, #0B93C5, #3b85ad ) !important;border:1px solid #3b85ad !important;color:#E8F3F8;}</style>
			<link rel='canonical' href='http://demo.startashoppe.info/store/products/revision-needed-332x1/' />
	<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus, turpis eget commodo laoreet, nibh erat molestie nibh, eu aliquam ligula ante..." />
<link rel="shortcut icon" href="//startashoppe.info/wp-content/uploads/ultimate-branding/includes/favicon/favicon.png" /><style type="text/css" media="print">#wpadminbar { display:none; }</style>
<style type="text/css" media="screen">
	html { margin-top: 28px !important; }
	* html body { margin-top: 28px !important; }
</style>

	
<style type="text/css" media="all">
h1,h2,h3,h4,h5,h6 {font-family: 'ABeeZee', Arial, sans-serif;}body {font-family: 'ABeeZee', Arial, sans-serif;}#sidebar ul li:before {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings-white.png");}#sidebar ul#mp_product_list li i.icon-tags {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings-white.png");}#sidebar .well:hover ul li:before {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings.png");}#sidebar .well:hover ul#mp_product_list li i.icon-tags {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings.png");}#footer-widget ul li:before {background-image: url("http://demo.startashoppe.info/wp-content/themes/flexmarket/img/glyphicons-halflings-white.png");} 
</style>

	<!--[if gte IE 9]>
		<script src="/viewall/js/html5.js"></script>
		<style type="text/css">.gradient {filter: none;}</style>
	<![endif]-->
<style>
h1{color:#563d7c;}
</style>
	
</head>

<body>
<%= render :partial => 'home1' %>
	
	
	<div class="container" style="border: 3px solid #ccc;margin-top:10%">
		
			<h1 style="margin-left:2%;">Project Title</h1>
			<div class="headerdivider">
			</div>
	
		<div class="row-fluid">
                    <div class="span12">
                        <div class="span6" >
							<div id="post-27" class="post-27 product type-product status-publish hentry">
								<%@d.each do |i|%>
								
								<div class="image-box transparent add-shadow-effect" style="max-width: 860px;margin-left:2%;">
									<div class="hover-btn">
									
										<a href=<%=i["image_1"]%> class="btn btn-block" rel="prettyPhoto[post-27]">
											<i class="icon-search"></i> View Image</a>
									
										
									</div>
									
									 <a href=<%=i["image_2"]%> rel="prettyPhoto[post-27]">
									 <a href=<%=i["image_3"]%> rel="prettyPhoto[post-27]">

								<!--	<img width="860" height="300" src="http://demo.startashoppe.info/files/2012/12/226833_4391-860x300.jpg" class="attachment-tb-860 wp-post-image" alt="226833_4391" /> -->
									
									
									<div class="mainContent"><img src="/images/loader_lazyload1.gif" width="460px" data-src=<%=i['image_1']%>/></div>
									</a>
								</div>
								
							</div>	
						</div>		
                            <div class="span6 top10">
                  
                                <div class="productinfo">
										<div class="prices">
                                        <div class="price" style="font-size: 25px;line-height: 35px;color: #E55451;display: inline;">
										<i class="icon-tags"></i> Price: <span itemprop="price" class="mp_normal_price"><span class="mp_current_price"><%= i["price"]%></span></span>
                                        </div>
                                        </div>
                                </div>
                                
                        
                           
								<div style="padding-left: 5%;">
                                    <div class="span5"><span style="color:#563d7c;"><strong>Available Quatity:</strong></div><div class="span7"><span itemprop="price" class="mp_normal_price"><span class="mp_current_price"><%= i["quantity"]%></span></span>	 </span></div>

								  		<%= form_tag("/c_shop/add_to_cart/", :method=>"put") do %>
											<input type="hidden" name="p_id" value=<%=i['product_id']%> />
											
											<span class="mp_quantity">
											<span class="mp_quantity">
											<label style="color:#563d7c;"><strong>Quantity:</strong>
											</label>
											</span>&nbsp;
											<% @qty = Masterusers.find_by_sql("select quantity, description from product_"+session[:master_user_id].to_s+" where product_id = "+i["product_id"].to_s) %>
											
											
											
											<% x = @qty[0]['quantity'] %>
											<select name="quantity">
											<% for j in 1..x  %>
											<option value= <%= j %>><%= j %></option>
											<%end%>
											</select>
	
											</span>&nbsp;
											<input type="hidden" name="action" value="mp-update-cart" />
											
											
                                            <br>
              
                                    <br>
                                        <%= submit_tag("add to cart",  :value => "add to cart",:class=>"btn btn-success span3") %>
										<%end%>	
                                </div>
                                    <div class="producttabs" style="padding-left: 5%;"> 
                                        <div class="tabbable"> 
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab1" data-toggle="tab"  style="color:#563d7c;"><strong>Description</strong></a></li>
                                                
                                            </ul>

                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    <p>
                                                       <%= @qty[0]['description'] %>
                                                    </p>
														<hr>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
							</div>
					
                            <%end%>
                        <div class="span6" style="padding-left: 3%;">
						<%= form_tag("/c_shop/view_all_products/", :method=>"put") do %>

						<%= submit_tag("shopmore", :value => "Continue Shopping", :class => "btn btn-success") %>
                        <%end%>
                        </div>
                    </div>
        </div>
    </div>
		<!-- Load JS -->
	<script type="text/javascript">
	
	jQuery(document).ready(function () {
	
		// prettyPhoto
    	jQuery("a[rel^='prettyPhoto']").prettyPhoto({
    		social_tools: false
    	});

    	// tooltip
    	jQuery('.tool-tip').tooltip();
	});

	</script>
	
	<script type='text/javascript'>
/* <![CDATA[ */
var lumeboxOptions = {"graphicsDir":"http:\/\/demo.startashoppe.info\/wp-content\/plugins\/marketpress\/marketpress-includes\/lightbox\/style\/"};
/* ]]> */
</script>
<script type='text/javascript' src='/viewall/js/jquery.lumebox.min.js?ver=2.8.8'></script>
<script type='text/javascript' src='/viewall/js/admin-bar.min.js?ver=3.6'></script>
	<script type="text/javascript">
		(function() {
			var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

			request = true;

			b[c] = b[c].replace( rcs, ' ' );
			b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
		}());
		
		$('#mylink').click(function(e){
		e.preventDefault();
		});
	</script>
			
			
</body>
</html>

